<div class="container">
  <div class="container-title">
    <h5 class="title">YOUR LISTS</h5>
  </div>
  <div class="container-list" >
        <% @lists.each do |list| %>
        <div class="card-list" >
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
          <%= link_to list_path(list) do %>
          <%= list.name %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



