<div class="container">
  <div class="container-form">
    <h5>ADD A NEW LIST</h5>
    <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Create List' %>
    <% end %>
  </div>
</div>

