.movie-title {
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.movie-details {
  color: $black;
  font-size: 12px;
  padding: 4px 8px;
}

.list-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
}

.bookmark {
  position: relative;
}

.bookmark-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.delete-list {
  width: 120px;
  margin: 0 auto;
  margin-top: 32px;
  text-align: center;
  position: relative;
}

.delete-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.banner-title {
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
