.card-list {
  width: 280px;
  height: 280px;
  border-radius: 8px;
  margin: 4px;
    .list-title {
      color: $white;
      text-decoration: none;
      line-height: 280px;
      text-align: center;
      font-size: 28px;
    }
}

.card-movie {
  width: 280px;
  height: 360px;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-movie-absolute {
  position: absolute;
  right: 16px;
  top: 16px;
    .trashbox {
      color: $white;
      font-size: 24px;
    }
}
