.card-list {
  flex-grow: 1;
  width: 256px;
  height: 160px;
  border: 1px solid black;
  margin: 4px;
  text-align: center;
}

.card-movie {
  width: 240px;
  border: 1px solid black;
  margin: 4px;
  text-align: center;
}
