.container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.container-title {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
