.container-list {
  margin-top: 16px;
  display: flex;
}

.container-title {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    h4 {
      margin: 0;
    }
}

.container-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 32px;
    h4 {
      margin-bottom: 32px;
    }
}
