// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "container";
@import "banner";
@import "button";

h4 {
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
}
